body{
  padding: 0px 30px;
  margin: 0;
  background-color: #0d0c0d;
}
*{
  box-sizing: border-box;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueBold.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Consolas';
  src: url('./assets/fonts/Consolas.woff2') format('woff2'),
      url('./assets/fonts/Consolas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bungler';
  src: url('./assets/fonts/BunglerLight-Regular.woff2') format('woff2'),
      url('./assets/fonts/BunglerLight-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Joyfont-ZeusGB-Flash';
  src: url('./assets/fonts/Joyfont-ZeusGB-Flash-Diamond.woff2') format('woff2'),
      url('./assets/fonts/Joyfont-ZeusGB-Flash-Diamond.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}