{
    "run_type": "server",
    "local_addr": "0.0.0.0",
    "local_port": 443,
    "remote_addr": "zoom-jp-osaka.t7xqp3r.life",
    "remote_port": 80,
    "password":[
    ],
    "ssl": {
        "cert": "/etc/letsencrypt/live/zoom-jp-osaka.t7xqp3r.life/fullchain.pem",
        "key": "/etc/letsencrypt/live/zoom-jp-osaka.t7xqp3r.life/privkey.pem",
        "fallback_addr": "127.0.0.1",
        "fallback_port":80,
        "sni": "microsoft.com"
    },
    "api": {
        "enabled": true,
        "api_addr": "0.0.0.0",
        "api_port": 30189
    },
    "mysql": {
        "enabled": true,
        "server_addr": "46.250.249.209",
        "server_port": 3306,
        "database": "data",
        "username": "data",
        "password": "9Db55nG4V4QtSo",
        "check_rate": 30
    },
    "websocket": {
        "enabled": true,
        "path": "/bJ6UqiUMC4i5Zgi7frubj9iuGyVW9j5",
        "host": "zoom-jp-osaka.t7xqp3r.life"
    },
    "mux": {
        "enabled": true,
        "concurrency": 8,
        "idle_timeout": 60
    },
    "router": {
        "enabled": true,
        "block": [
            "geoip:private"
        ],
        "geoip": "/usr/bin/geoip.dat",
        "geosite": "/usr/bin/geosite.dat"
    }
}